@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    background: black;
    font-family: 'Poppins', sans-serif;
    color: white;
}

.position{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 25%;
    margin-bottom: auto;
}

